.container{
	width: 100%;
	max-width: 1440px;
	margin:0 auto;
}
body{
	background-color: #F6F8F9;
}
.header-div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 34px;
	max-width: 1440px;
}
.nav-ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	margin-left: 24px;
}
.icon-div{
	margin-right: 26px;
}
.nav-ul li{
	margin-right: 29px;
}
.nav-div{
	margin-left: 946px;
}
.first-section{
	display: flex;
	align-items: center;
	max-width: 1160px;
	height: 500px;
	margin-top: 100px;
	background-color: #FFFFFF;
}
.left-side{
	max-width: 580px;
	position: relative;
}
.right-side{
	max-width: 580px;
	display:flex;
	flex-direction: column;
	margin-top: -121px;
    margin-left: 110px;
}
h2{
	font-size: 32px;
	color:#FFFFFF;
}
.child{
	position: absolute;
	margin-top: -350px;
    margin-left: 180px;

}
.line{
	position: absolute;
	width: 40px;
	height: 1px;
	z-index: 3;
	background-color:#FA6980;
	margin-top: 19px;
    margin-left: 90px;
}
.child-img{
	margin-top: 47px;
    margin-left: 90px;

}
.child p{
	width: 360px;
    margin-left: -63px;
    margin-top: 40px;
}
label{
	margin-bottom: 16px;

}
select,#Keyword{
	margin-bottom: 37px;
}
button{
	color:#FFFFFF;
	background-color: #FA6980;
	border-radius: 4px;
	border:hidden;
}
select{
	padding:7px 20px;
}

.second-section{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1160px;
	height: 213px;
	margin-top: 40px;
	border-top: #EBEDED 1px solid;
}
.div-2{
	width: 360px;
	height: 172px;
}
.div-3{
	width: 360px;
	height: 172px;
}
.paragraph{
	width: 360px;
	height: 128px;
}
.min{
	display: flex;
	align-items: center;

}
footer{
	background-color: #A6ADB4;
	height: 200px;
}